
nav {
    background-color: #6208b1;
    margin: 0 auto;
    max-width: 800px;
}

nav a { 
    color: #E3DD6C;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    color: #ff0004;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

.card {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #E3DD6C;
    color: #6208b1;
    text-align: center;
    border-radius: 10px;
}

img {
    border-radius: 5px;
    width: 150px; 
    height: auto;
    border: 1px solid rgb(39, 36, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p { 
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}
.card h1{
    color: #2b2400;
    border-bottom: 1px solid #2b2400;
}

div .links {
    background-color: #b7d1ec;
    color: #E3DD6C;
}

main {
    margin: 1rem;
    align-items: center;
    max-width: 1900px;
    font-family: "Roboto", sans-serif;
}

aside {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 10px;
    padding: 1rem;
    grid-column: 2 / 3;
}

aside h2 {
    text-align: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 7px;
}

footer {
    background-color: #6208b1;
    text-align: center;
    padding: 20px 0;
    color: #E3DD6C;
}

footer .footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
